<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <title>{{ loc_title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="app:version" content="{{ VERSION }}">
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
        <link rel="stylesheet" 
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
        <script src="{{ url_for('static', filename='app.js') }}"></script>
        <script type="text/javascript">
            const config = {
                urls: {
                    images: "{{ url_for('images') }}",
                    loadImage: "{{ url_for('load_image') }}",
                    tags: "{{ url_for('tags') }}",
                    imageTags: "{{ url_for('image_tags') }}",
                    toggleTags: "{{ url_for('toggle_tags') }}",
                    addTag: "{{ url_for('add_tag') }}",
                    tagInfo: "{{ url_for('tag_info') }}",
                    latest: "{{ url_for('latest') }}",
                    searchImages: "{{ url_for('search_images') }}",
                    translateTags: "{{ url_for('translate_tags') }}"
                },
                lang: "{{ lang }}",
                apiNotConfigured: {{ api_not_configured }},
                resources: {{ ui | safe }}
            };
        </script>
    </head>
    <body>
        <div class="horizontal-panes">
            <div class="left-pane">
                <div class="vertical-panes">
                    <div class="search-pane">
                        <div class="wrapper">
                            <div class="search-bar">
                                <input type="text" id="searchInput" name="searchInput" placeholder="{{ loc_search }}" lang="{{ lang }}">
                            </div>
                        </div>
                    </div>
                    <div class="top-pane">
                        <div class="wrapper" style="width: 100%; height: 100%;">
                            <div id="imageContainer"></div>
                        </div>
                    </div>
                    <div class="bottom-pane">
                        <div class="wrapper" style="width: 100%; height: auto;">
                            <div class="button-row">
                                <button id="pagerPrevious" type="button">{{ loc_pager_prev }}</button>
                                <div>{{ loc_pager_patt
                                    | replace('{crt}', '<span id="pagerCrt">0</span>')
                                    | replace('{all}', '<span id="pagerAll">0</span>')
                                    | safe
                                }}</div>
                                <button id="pagerNext" type="button">{{ loc_pager_next }}</button>
                                <button id="pagerJump" type="button">{{ loc_pager_jump }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-pane">
                <div class="vertical-panes" style="width: 400px;">
                    <div class="search-pane">
                        <div class="wrapper">
                            <div class="filter-bar">
                                <input id="filterTags" name="filterTags" type="text" placeholder="{{ loc_filter }}" lang="{{ lang }}">
                                <button id="clearTagsFilter" type="button">&#x2297;</button>
                            </div>
                        </div>
                    </div>
                    <div class="top-pane">
                        <div class="wrapper" style="width: 100%; height: 100%;">
                            <div id="tagsContainer"></div>
                        </div>
                    </div>
                    <div class="bottom-pane">
                        <div class="wrapper" style="width: 100%;">
                            <form id="addTag" action="#">
                                <div class="field-wrapper">
                                    <div class="select-wrapper">
                                        <select title="{{ loc_content_lang }}" id="contentLanguage" name="contentLanguage" required>
                                            <option value="" disabled selected>{{ loc_select_content_lang }}</option>
                                            {% for code, label in langs.items() %}
                                            <option value="{{ code }}">{{ label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="field-wrapper">
                                    <input type="text" id="tagName" name="tagName" placeholder="{{ loc_add_tag_name }}" autocomplete="off" required>
                                </div>
                                <div class="field-wrapper">
                                    <textarea id="tagDescription" name="tagDescription" placeholder="{{ loc_add_tag_desc }}"></textarea>
                                </div>
                                <div class="field-wrapper action-buttons">
                                    <button id="btnManage" type="button">{{ loc_add_tag_manage }}</button>
                                    <button type="submit">{{ loc_add_tag_add }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tagSuggestions" popover="auto"></div>
        <script type="text/javascript">
            document.getElementById('btnManage').addEventListener('click', () => open("{{ url_for('tag_management') }}"))
        </script>

        <div id="alertBox" popover>
            <p id="alertMessage">All your base are belong to us.</p>
            <div>
                <button id="ackBtn" type="button">{{ loc_alert_ack }}</button>
            </div>
        </div>
    </body>
</html>