<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tag Management</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="app:version" content="{{ VERSION }}">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
        <link rel="stylesheet" href="{{ url_for('static', filename='manage.css') }}">
        <script src="{{ url_for('static', filename='manage.js') }}"></script>
        <script type="text/javascript">
            const config = {
                urls: {
                    deDuplicate: "{{ url_for('de_duplicate') }}",
                    tags: "{{ url_for('tags') }}",
                    tagInfo: "{{ url_for('tag_info') }}",
                    loadImage: "{{ url_for('load_image') }}",
                    updateTag: "{{ url_for('update_tag') }}",
                    deleteTags: "{{ url_for('delete_tags')}}"
                },
                listFormatter: new Intl.ListFormat("en", {
                    style: "long",
                    type: "conjunction",
                })
            };
        </script>
    </head>
    <body>
        <div class="toolbar">
            <div><strong>Tag Management</strong></div>
            <div class="button-row">
                <button id="deleteBtn" type="button" disabled>&#x26A0; Delete Selected</button>
                <button id="deduplBtn" type="button" disabled>De-duplicate Selected</button>
            </div>
        </div>

        <div id="tagsContainer"></div>

        <div id="confirmBox" popover>
            <p id="confirmMessage">Are you sure you want to delete this tag?</p>
            <div style="display:flex; justify-content:end; gap:8px;">
                <button id="cancelBtn" type="button">Cancel</button>
                <button id="okBtn" type="button" style="background:#ff00ff; color:white;">OK</button>
            </div>
        </div>

        <div id="alertBox" popover>
            <p id="alertMessage">All your bases are belong to us.</p>
            <button id="ackBtn" type="button" style="background: #ff00ff; color: white;"></button>
        </div>
    </body>
</html>