<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UTF-8">
        <title>{{ loc_title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="app:version" content="{{ VERSION }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
        <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='manage.css') }}">
        <script src="{{ url_for('static', filename='manage.js') }}"></script>
        <script type="text/javascript">
            const config = {
                urls: {
                    deDuplicate: "{{ url_for('de_duplicate') }}",
                    tags: "{{ url_for('tags') }}",
                    tagInfo: "{{ url_for('tag_info') }}",
                    loadImage: "{{ url_for('load_image') }}",
                    updateTag: "{{ url_for('update_tag') }}",
                    deleteTags: "{{ url_for('delete_tags')}}",
                    translateTags: "{{ url_for('translate_tags') }}"
                },
                lang: "{{ lang }}",
                listFormatter: new Intl.ListFormat("{{ lang }}", {
                    style: "long",
                    type: "conjunction",
                }),
                pluralRules: new Intl.PluralRules("{{ lang }}"),
                apiNotConfigured: {{ api_not_configured }},
                resources: {{ ui | safe }}
            };
        </script>
    </head>
    <body>
        <div class="toolbar">
            <div><strong>{{ loc_toolbar_title }}</strong></div>
            <div class="button-row">
                <button id="retranBtn" type="button" disabled><i class="icon icon-translate"></i> {{ loc_toolbar_retranslate }}</button>
                <button id="deleteBtn" type="button" disabled><i class="icon icon-delete"></i> {{ loc_toobar_delete }}</button>
                <button id="deduplBtn" type="button" disabled><i class="icon icon-deduplicate"></i> {{ loc_toolbar_de_duplicate }}</button>
            </div>
        </div>

        <div id="tagsContainer"></div>

        {% include 'partials/dialogs.html' with context %}
    </body>
</html>